<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>  
  <!--оболочка письма-->
  <table class="body">
    <tr>
      <td>
        <center>

        <!--блок с логотипом-->
          <spacer size="40"></spacer>
          <container class="no-bg">
            <row>
              <columns small="12" large="12">
                <center>
                  <img src="http://tsel-shop.ru/email-img/logo.png" width="407" height="100" alt="Логотип">
                </center>
              </columns>
            </row>
          </container>
          <!--блок с подписью под логотипом-->
          <spacer size="20"></spacer>
          <container class="no-bg">
            <row>
              <columns small="12" large="12">
                <p class="header-text text-center">
                  What is the most fascinating thing about summer?
                </p>
              </columns>
            </row>
          </container>
          <!--блок с подписью под логотипом-->
          <spacer size="10"></spacer>
          <table>
            <tbody>
              <tr>
                <td>
                  <img src="http://tsel-shop.ru/email-img/header.jpg" width="600" height="400" alt="Summer`s coming">
                </td>
              </tr>
            </tbody>
          </table>
          <!--блок со статьями-->
          <container>
            <spacer size="40"></spacer>
            <row>
              <columns small="12" large="12">
                <h1 class="text-center">BEST ARTICLES IN THIS MONTH</h1>
              </columns>
            </row>
          </container>
          <!--блок со картинками-->
          <container>
            <spacer size="20"></spacer>
            <row>
              <columns small="12" large="6">
                <a class="wrapper-img" href="#"><img src="http://tsel-shop.ru/email-img/article.jpg" width="255" height="150" alt="More"></a>  
                <spacer size="10"></spacer>
                <h1 class="post-title">What is it like to be young and free minded in North Korea</h1>
                <spacer size="10"></spacer>
                <p class="post-text">Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.</p>
              </columns>
              <columns small="12" large="6">
                <center>
                <a class="wrapper-img" href="#"><img src="http://tsel-shop.ru/email-img/article2.jpg" width="255" height="150" alt="More"></a>
                <spacer size="10"></spacer>
                <h1 class="post-title">What is it like to be young and free minded in North Korea</h1>
                <spacer size="10"></spacer>
                <p class="post-text">Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.</p>
              </columns>
            </row>
          </container>
          <!--блок со статьёй на всю ширину-->
          <container>
            <spacer size="20"></spacer>
            <row>
              <columns small="12" large="12">
                <a class="wrapper-img" href="#"><img src="http://tsel-shop.ru/email-img/full.jpg" width="540" height="220" alt="More"></a>
                <spacer size="10"></spacer>
                <h1 class="post-title">What is it like to be young and free minded in North Korea</h1>
                <spacer size="10"></spacer>
                <p class="post-text">Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.</p>
              </columns>
            </row>
            <hr>
          </container>
          <!--подвал-->
          <container>
            <spacer size="20"></spacer>
            <row>
              <columns small="12" large="9">
                <p class="footer-title">Brannon & Douglas, Inc.</p>
                <p class="footer-text">
                  400005 Russian Federation, Volgograd, prospekt Lenina 56<br>
                  Help & Support Center: 0000 000 000<br>
                  Website: <a class="footer-link" href="#">www.yourcompany.com</a>
                </p>
              </columns>
              <columns small="12" large="3">
                <p class="text-right">
                  <a class="social-link" href="#"><img src="http://tsel-shop.ru/email-img/facebook.png"></a>
                  <a class="social-link" href="#"><img src="http://tsel-shop.ru/email-img/twitter.png"></a>
                  <a class="social-link" href="#"><img src="http://tsel-shop.ru/email-img/tumblr.png"></a>
                  <a class="social-link" href="#"><img src="http://tsel-shop.ru/email-img/rss.png"></a>
                </p>
                <a class="footer-link" href="#">Visit website<a><br> 
                <a class="footer-link" href="#">Mobile version</a>
              </columns>
            </row>
            <spacer size="20"></spacer>
          </container>
          
          <spacer size="20"></spacer>
          <container class="no-bg">
            <row>
              <columns small="12" large="12">
                <p class="text-center small-text">Don‘t want to recieve further emails? You can unsibscribe <a class="small-link" href="#">here</a></p>
              </columns>
            </row>
          </container>

        </center>
      </td>
    </tr>
  </table>      
</body>
</html>